:root {
	--color-black-100: #000000;
	--color-black-90: #111111;
	--color-black-80: #222222;
	--color-black-70: #333333;
	--color-black-60: #444444;
	--color-black-50: #555555;
	--color-black-40: #666666;
	--color-black-30: #777777;
	--color-black-20: #888888;
	--color-black-10: #999999;
	--background: background-color 150ms ease-in-out;

	--color-white: #FFFFFF;
	--color-magenta: #FF00F2;
	--color-yellow: #F8FF00;
	--color-spring-green: #00FF73;
	--color-cyan: #00F7FF;

	--font-family-heading: 'Pacifico', cursive;
	--font-family-body: 'Roboto Condensed', sans-serif;
	--font-size-heading: 1.5em;
	--font-size-body: 0.75em;
	--font-normal: 400;
	--font-bold: 700;
	--font-line-height: 1.6;

	--margin-gap: 0.25em;
	--margin-gap-correction: 0.25em;

	--border-radius: 0.25em;
	--border-size: 1px;
	--border-style: solid;
	--block-padding: 1em;

	--layout: 
		"container" auto
		"controls" auto / 1fr;
}

@media screen and (min-width: 30em) {

	:root {
		--layout: "container controls" 1fr / 1fr 20em;
	}
	
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	width: 100%;
	background: #000000;
	font-family: var(--font-family-body);
}

h1 {
	font-family: var(--font-family-heading);
	font-size: var(--font-size-heading);
	color: var(--color-white);
	margin-bottom: 0.5rem;
}

p {
	font-size: var(--font-size-body);
	color: var(--color-black-30);
	line-height: var(--font-line-height);
	margin-bottom: 1rem;
}

strong {
	color: var(--color-white);
	font-weight: var(--font-normal)
}

.layout {
	display: grid;
	grid-template: var(--layout);
	height: 100%;
}

.sticky {
	position: sticky;
	top: 1em;
}

.container {
	grid-area: container;
	padding: 0 var(--block-padding);
}

.controls {
	grid-area: controls;
	background-color: #111111;
	padding: var(--block-padding);
}

.fields {
	display: flex;
	flex-direction: column;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}

.field {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
	padding: var(--block-padding);
    border: var(--border-size) var(--border-style) var(--color-black-80);
	border-radius: var(--border-radius);
}

label {
	font-family: var(--font-family-body);
	font-size: var(--font-size-body);
	color: var(--color-white);
	font-weight: var(--font-bold);
	margin-bottom: 0.25rem;
}

label > span {
	color: var(--color-black-30);
	margin-left: 0.5rem;
}

.input {
	font-family: var(--font-family-body);
	font-size: var(--font-size-body);
	font-weight: var(--font-normal);
	appearance: none;
	background-color: var(--color-black-80);
	color: var(--color-white);
	padding: var(--block-padding);
	border: 0;
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: var(--background);
}

.input--button {
	position: relative;
}

.input--button::before {
	content: "";
	display: block;
	padding-top: 50%;
}

.input--button > span {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.input:hover,
.input:focus {
	background-color: var(--color-black-70);
}

.input:focus {
	outline: 0;
}

.input:active {
	background-color: var(--color-black-60);
}

.grid {
	--grid-layout: repeat(8, 1fr);
	--grid-gap: 0.25em;
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: var(--grid-layout);
	gap: var(--grid-gap);
	transform-origin: 0 0;
	margin: 1em 0;
}

.grid.four {
	--grid-layout: repeat(4, 1fr);
}

.grid.six {
	--grid-layout: repeat(6, 1fr);
}

.grid.eight {
	--grid-layout: repeat(8, 1fr);
}

.large-gap {
	--grid-gap: 1em;
}

.item {
	position: relative;
	background: var(--color-magenta);
	transform-origin: 0 0;
	cursor: pointer;
	overflow: hidden;
	border-radius: 0.25em;
	transition: background-color 200ms ease-in-out;
}

.item::before {
	content: "";
	display: block;
	padding-top: 100%;
}

.item > .inner {
	position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.inner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wide,
.large {
	grid-column: auto / span 2;
}

.wide {
	background: var(--color-yellow);
}

.wide::before {
	padding-top: 50%;
}

.large {
	grid-row: auto / span 2;
	background: var(--color-spring-green);
}

.huge {
	grid-row: auto / span 4;
	grid-column: auto / span 4;
	background:var(--color-cyan);
}