*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	width: 100%;
	background: #000000;
}

.block {
	display: grid;
	place-items: center;
	height: 16em;
	background: #66ff00;
	margin: 1em 0;
}

.sticky {
	position: sticky;
	top: 1em;
}

.container {
	display: block;
	width: 100%;
	max-width: 71.125em;
	margin: 0 auto;
	padding: 0 1em;
}

.controls {
	grid-area: controls;
	background-color: #111111;
	padding: 1em;
}

.buttons,
.fields {
	display: flex;
	flex-direction: column;
	margin: -0.25em 0;
}

.input {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

input[type="text"],
input[type="number"] {
	appearance: none;
	background-color: #222222;
	color: #ffffff;
	padding: 1rem;
	border: 0;
	border-radius: 0.25em;
	cursor: pointer;
	margin: 0.25em 0;
	transition: background-color 150ms ease-in-out;
}

label {
	font-size: 0.75em;
	color: #ffffff;
}

.toggle {
	font-size: 0.75em;
	background-color: #222222;
	color: #ffffff;
	padding: 1rem;
	border: 0;
	border-radius: 0.25em;
	cursor: pointer;
	margin: 0.25rem 0;
	transition: background-color 150ms ease-in-out;
}

.toggle:hover,
input[type="text"]:hover,
input[type="number"]:hover,
input[type="text"]:focus,
input[type="number"]:focus {
	background-color: #333333;
	outline: 0;
}

.grid {
	--grid-layout: repeat(8, 1fr);
	--grid-gap: 0.25em;
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: var(--grid-layout);
	gap: var(--grid-gap);
	/* padding: var(--grid-gap); */
	transform-origin: 0 0;
	margin: 1em 0;
}

.grid.four {
	--grid-layout: repeat(4, 1fr);
}

.grid.six {
	--grid-layout: repeat(6, 1fr);
}

.grid.eight {
	--grid-layout: repeat(8, 1fr);
}

.large-gap {
	--grid-gap: 1em;
}

.item {
	position: relative;
	background: rgb(255, 0, 242);
	transform-origin: 0 0;
	cursor: pointer;
	overflow: hidden;
	border-radius: 0.25em;
	transition: background-color 200ms ease-in-out;
}

.item::before {
	content: "";
	display: block;
	padding-top: 100%;
}

.item > .inner {
	position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /* transform: translate(-50%, -50%); */
}

.inner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wide,
.large {
	grid-column: auto / span 2;
}

.wide {
	background: #f8ff00;
}

.wide::before {
	padding-top: 50%;
}

.large {
	grid-row: auto / span 2;
	background: rgb(0, 255, 115);
}

.huge {
	grid-row: auto / span 4;
	grid-column: auto / span 4;
	background:#00f7ff;
}